
/* BEGIN CSS Content02/content.css */


.Test2 {
	font-family:Verdana,Calibri,Arial, Helvetica, Sans-Serif;
	font-size: 14px;
	color: #000000;
}


/* END CSS Content02/content.css */


/* BEGIN CSS Content01/content.css */


.Test1 {
	font-family:Verdana,Calibri,Arial, Helvetica, Sans-Serif;
	font-size: 14px;
	color: #000000;
}


/* END CSS Content01/content.css */

